.venv/
renderingEnv/
.DS_Store

outputs/
Scripts/outputs/*
!Scripts/outputs/.gitkeep
Scripts/Outputs/
locomotion/sim-outputs/media/*
!locomotion/sim-outputs/media/.gitkeep
locomotion/sim-outputs/policies/*
!locomotion/sim-outputs/policies/.gitkeep

__pycache__/

MUJOCO_LOG.TXT

ssh

.env
.sweep_counter
Scripts/.sweep_counter
